.contenu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .nav-bar {
    background-color: #333;
    padding: 10px;
  }
  
  .ull {
    list-style-type: none;
    padding: 0;
    display: flex;
  }
  
  .ill {
    margin-right: 10px;
  }
  
  .ill a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  .ill a:hover {
    color: #61dafb;
  }
  